# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out


# Local files
demo.txt
out.txt

# Output of go build
/bin/
/build/

# Dependency directories
vendor/

# IDE/editor files
.vscode/
.idea/
*.swp
